<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.weather.mapper.MessageMapper">
    <insert id="newMessage" parameterType="com.example.weather.VO.MessageLog">
        INSERT INTO `user_message` (`target`, `type`, `text`)
        VALUES (#{target}, #{type}, #{text})
    </insert>
</mapper>