<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.weather.mapper.WeatherWarningMapper">

    <insert id="newWeatherWarning" parameterType="com.example.weather.vo.WeatherWarning">
        INSERT INTO `locate_weather_warning` (`id`, `sender`, `pubTime`, `title`, `startTime`, `endTime`, `status`,
                                              `severity`, `severityColor`, `type`, `typeName`, `urgency`, `certainty`,
                                              `text`, `related`, `sendStatus`, `locate`)
        VALUES (#{id}, #{sender}, #{pubTime}, #{title}, #{startTime}, #{endTime}, #{status}, #{severity},
                #{severityColor}, #{type}, #{typeName}, #{urgency}, #{certainty}, #{text}, #{related}, #{sendStatus},
                #{locate})
    </insert>

    <update id="updateWeatherWarning">
        UPDATE `locate_weather_warning`
        SET `sendStatus` = 1
    </update>

    <select id="getWeatherWarningById" resultType="com.example.weather.vo.WeatherWarning">
        SELECT *
        FROM `locate_weather_warning`
        WHERE `id` = #{id}
    </select>

    <select id="getTodayWeatherWarningByLocate" resultType="com.example.weather.vo.WeatherWarning">
        SELECT * FROM locate_weather_warning
        WHERE `locate` = #{locate}
          AND `time` <![CDATA[>=]]> #{time}
    </select>


</mapper>